doctype html
html
  head
      title #{title}
      if favIcon
        link(rel="shorticon icon" type="image/x-icon" href=favIcon)
      meta(charset="utf-8")
      meta(http-equiv="X-UA-Compatible" content="IE=edge")
      meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
  body
      div#root #{hello}
